
.App-body {
  background-color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-items: center;
  /* background-image: url("https://images.wikidexcdn.net/mwuploads/esssbwiki/thumb/2/2c/latest/20180819065319/Estadio_Pok%C3%A9mon_2_SSBU.jpg/1200px-Estadio_Pok%C3%A9mon_2_SSBU.jpg");; */
}



